<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Edit Blog</h3>
<p>
    <a th:href="@{/list}">
        Back to Blog list
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/edit}" th:object="${blog}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name</label>
            <input required type="text" th:field="*{nameBlog}"/>
        </div>
        <div>
            <label>Detail</label>
            <input required type="text" th:field="*{rentBlog}"/>
        </div>

        <div>
            <label>Category</label><br>
            <select th:field="*{category}">
                <option th:each=" item : ${categoryList}" th:value="${item.idCategory}" th:text = "${item.categoryName}"> </option>
            </select>
        </div>

        <div>
            <label>Rent</label>
            <input required type="text" th:field="*{detailBlog}"/>
        </div>

        <div>
            <label>Date</label>
            <input required type="date" th:field="*{dateCommit}"/>
        </div>
        <input type="submit" value="edit"/>
    </form>
</div>
<footer th:replace="/layout :: footer">
</footer>
</body>
</html>