<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thêm mới bài hát</title>
</head>
<body>
<form th:object="${create}" th:action="create" method="post">
    <div>
        Tên bài hát:
        <input th:field="*{nameOfSong}"><br>
        <p th:if="${#fields.hasErrors('nameOfSong')}"
           th:errors="*{nameOfSong}">
    </div>

    <div>
        Nghệ sĩ:
        <input th:field="*{artistName}"><br>
        <p th:if="${#fields.hasErrors('artistName')}"
           th:errors="*{artistName}">
    </div>

    <div>
        Thể loại:
        <input th:field="*{category}"><br>
        <p th:if="${#fields.hasErrors('category')}"
           th:errors="*{category}">
    </div>
    Đường dẫn:
    <input th:field="*{path}"><br>

    <div>
        <button type="submit" value="save"> save</button>
    </div>
</form>
</body>
</html>

</body>
</html>